/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/.php-cs-fixer.cache
/Homestead.json
/Homestead.yaml
/auth.json
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
